<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>PAC | Iniciar Sesión</title>
</head>
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top h-20">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PAC</a>
        </div>
    </nav>
</header>
<body>
<div class="container-login100">
    <div class="wrap-login100">
        <form class="login100-form validate-form">
                <span class="login100-form-title p-b-34">
                    Iniciar Sesión
                    </span>
            <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Campo obligatorio">
                <input id="first-name" class="input100" type="text" name="username" placeholder="Usuario">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Campo obligatorio">
                <input class="input100" type="password" name="pass" placeholder="Clave">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <a href="index.html" class="login100-form-btn">
                    Ingresar
                </a>
            </div>
            <div class="w-full text-center">
                <a href="registro.html" class="txt3">
                    Registrarse
                </a>
            </div>
        </form>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>